body, html {
  height: 100%;
}

body {
  background: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

#ho, #haina {
 font-size: 20px;
 padding: 20px;
 background: yellow;
 border-color: green;
 border-radius: 10%;
 transition: 500ms linear;
}

#ho:hover, #haina:hover {
  background: #ED2939;
  transform: scale(1.1);
  color: white;
}
